<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/828c670315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dash.css">
    <title>Welcome to Coding Club (DSA)</title>
</head>

<body>
    <%- include("navbar") %>    
    <div class="container">
        <div class="questions">
            <span class="qcont">
                <span class="easydd dds">
                    <button class="ddtitle jseasy">
                        <a class="jseasy js">Easy
                        </a>
                        <i class="jseasy fa-solid fa-caret-down"></i>
                    </button>
                    <ul class="dlist easylist">
                        <% ques.forEach((e)=> { %>
                            <%if(e.difficulty==0){%>
                            <li>
                                <a href="/user/<%=user%>/thisweek/<%= e.name%>"><%= e.name%></a>
                            </li>
                        <% }}); %>
                    </ul>
            </span>
            <span class="meddd dds">
                <button class="ddtitle jsmed">
                    <a class="jsmed js">Medium
                    </a>
                    <i class="jsmed fa-solid fa-caret-down"></i>
                </button>
                <ul class="dlist medlist">
                    <% ques.forEach((e)=> { %>
                        <%if(e.difficulty==1){%>
                        <li>
                            <a href="/user/<%=user%>/thisweek/<%= e.name%>"><%= e.name%></a>
                        </li>
                    <% }}); %>
                </ul>
            </span>
            <span class="harddd dds">
                <button class="ddtitle jshard">
                    <a class="jshard js">Hard
                    </a>
                    <i class="jshard fa-solid fa-caret-down jsclicker"></i>
                </button>
                <ul class="dlist hardlist">
                    <% ques.forEach((e)=> { %>
                        <%if(e.difficulty==2){%>
                        <li>
                            <a href="/user/<%=user%>/thisweek/<%= e.name%>"><%= e.name%></a>
                        </li>
                    <% }}); %>
                </ul>
            </span>
            </span>
                

        </div>

        <div class="description">

            <%if(q==null){%>
                <h1>This week's Questions</h1>
                <ul>
                    <% ques.forEach((e)=> { %>
                        <li><%=e.name%></li>
                    <%});%>
                </ul>
                <p>Start solving... <br> by selecting a question. </p>
            <%}%>

            <%if(q!=null){%>
                <%if(q.difficulty==0){%>
                    <a class="descDiff" style="background-color:rgb(24, 163, 24);">Easy</a>
                <%}%>
                <%if(q.difficulty==1){%>
                    <a class="descDiff" style="background-color:orange">Medium</a>
                <%}%>
                <%if(q.difficulty==2){%>
                    <a class="descDiff" style="background-color:rgb(245, 26, 26)">Hard</a>
                <%}%>
                <%}%>
            <h1 class="descName">
                <%if(q!=null){%>
                    <%=q.name%>
                <%}%>
            </h1>

            <span class="descDesc">
                <%if(q!=null){%>
                    <%=q.discription%>
                <%}%>
            </span>

            <span class="descButtons">
                <%if(q!=null){%>
                    <a href="<%=q.link%>">
                        <button class="descLink">
                            Link
                        </button>
                    </a>
                <%}%>
                <%if(q!=null){%>
                    <a href="<%=q.solution%>">
                        <button class="descSol">
                            Solution
                        </button>
                    </a>
                <%}%>
            </span>


            <span class="comments">
                <%if(q!=null){%>
                    <h1 class="cmtHeading">
                        Comments
                    </h1>

                    <form action="" method="post">
                        <input type="text" name="comment" placeholder="Add Comment" id="commentBox">
                        <button type="submit" id="cmtBtn">
                            <i class="fa-solid fa-comment fa-xl"></i>
                        </button>
                    </form>

                    <span class="cmtDisplay">
                        <%q.comments.forEach((e)=>{%>
                            <span class="cmtItem">
                                <span class="cmtHead">
                                    <span class="cmtUser">
                                        <%=e.username%>
                                    </span>
                                    <span class="cmtDate">
                                        <%var present = new Date();%>
                                        <%const d = e.date;%>
                                        <%if(d.getYear()!=present.getYear() || d.getMonth() != present.getMonth()){%>
                                            long time ago
                                        <%} else if((d.getHours() < present.getHours() && d.getDate() == present.getDate()) || (d.getHours() == present.getHours() && (present.getDate()==d.getDate()))){%>
                                            <%=present.getHours()-d.getHours()%> hours ago
                                        <%} else if(d.getHours() < present.getHours() && d.getDate() != present.getDate() || (d.getHours() == present.getHours() && (present.getDate()!=d.getDate()))){%>
                                            <%=present.getDate()-d.getDate()%> days ago
                                        <%} else if(d.getHours() > present.getHours() && (present.getDate()-d.getDate()==1) ){%>
                                            <%=present.getHours()-d.getHours()+24%> hours ago
                                        <%} else if(d.getHours() > present.getHours() && (present.getDate()-d.getDate()>1) ){%>
                                            <%=present.getDate()-d.getDate()-1%> days ago
                                        <%}%>
                                        <!-- <%=e.date%> -->
                                    </span>
                                </span>
                                <span class="cmtMain">
                                    <%=e.text%>
                                </span>
                            </span>
                        <%});%>               
                    </span>
                <%}%>


            </span>


        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/dash.js"></script>
</html>